workflows/06-opportunity-manager-bash.json
{
  "name": "Add Opportunity Webhook (Bash)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add-opportunity",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-add",
      "name": "Webhook - Add Opportunity",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "add-opportunity"
    },
    {
      "parameters": {
        "jsCode": "// Extract form data from webhook\nconst body = $input.first().json.body;\n\n// Escape single quotes for SQL\nfunction escapeSql(str) {\n  if (!str) return '';\n  return String(str).replace(/'/g, \"''\");\n}\n\nconst company = escapeSql(body.company);\nconst role = escapeSql(body.role);\nconst source = escapeSql(body.source || 'Other');\nconst is_remote = body.is_remote ? 1 : 0;\nconst tech_stack = escapeSql(body.tech_stack || '');\nconst recruiter_phone = escapeSql(body.recruiter_phone || '');\nconst notes = escapeSql(body.notes || '');\nconst status = escapeSql(body.status || 'Lead');\nconst priority = escapeSql(body.priority || 'Medium');\n\n// Build SQL INSERT command\nconst sql = `INSERT INTO opportunities (company, role, source, is_remote, tech_stack, recruiter_phone, notes, status, priority) VALUES ('${company}', '${role}', '${source}', ${is_remote}, '${tech_stack}', '${recruiter_phone}', '${notes}', '${status}', '${priority}')`;\n\nconst command = `sqlite3 /data/jobs-tracker.db \"${sql}\"`;\n\nreturn [{\n  json: {\n    command: command,\n    data: body\n  }\n}];"
      },
      "id": "build-sql",
      "name": "Build SQL Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "id": "execute-insert",
      "name": "Execute Insert",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    message: 'Opportunity added successfully',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "build-response",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "firstEntryJson",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook - Add Opportunity": {
      "main": [[{"node": "Build SQL Insert", "type": "main", "index": 0}]]
    },
    "Build SQL Insert": {
      "main": [[{"node": "Execute Insert", "type": "main", "index": 0}]]
    },
    "Execute Insert": {
      "main": [[{"node": "Build Success Response", "type": "main", "index": 0}]]
    },
    "Build Success Response": {
      "main": [[{"node": "Respond Success", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
